name: Tests (reusable)

on:
  workflow_call:
    inputs:
      version: 
        description: "Julia version on which to run tests"
        required: true
        type: string

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - ${{ inputs.version }}
        os:
          - ubuntu-latest
        arch:
          - x64
    # This job is able to run julia-downgrade-compat@v2 even when
    # some package dependencies are registered in the ClimFlows registry.
    # For this the registry is added before 'downgrade' and after 'cache'
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
          include-all-prereleases: true
      - uses: julia-actions/cache@v2
      - name: Add private registry
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.Registry.add()
          url = "https://github.com/ClimFlows/JuliaRegistry.git"
          Pkg.Registry.add(RegistrySpec(; url))
      - uses: julia-actions/julia-downgrade-compat@v2
        if: ${{ matrix.version == '1.10' }}
        with:
          skip: Pkg, TOML
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          JULIA_EXCLUSIVE: 1
          JULIA_NUM_THREADS: 2
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false  # or true if you want CI to fail when Codecov fails
          files: lcov.info
